<template>
  <div>
    <h1>About page</h1>
    <p>
      This project is
      <a href="https://gitlab.com/reggermont/grossairvo">
        made and open-sourced with 💕 by reggermont
      </a>
    </p>
    <p>
      Inspired by the <a href="https://kculture.kgames.fr/">Kculture</a> project
    </p>
  </div>
</template>
