<script setup lang="ts">
import { RouterView } from "vue-router";
import TheHeader from "@/components/TheHeader.vue";
</script>

<template>
  <TheHeader />
  <main>
    <RouterView />
  </main>
</template>

<style>
body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  min-height: calc(100vh - 50px - 16px);
  display: flex;
  align-items: center;
  background-color: #1a1a1b;
  color: #ffffff;
  justify-content: center;
}

header {
}

header,
main > * {
  padding: 8px;
  max-width: 1024px;
}

main > * {
  width: 1024px;
}

a {
  color: rgb(29, 155, 240);
}
</style>
