<script setup lang="ts">
import TheHeaderNavBarItem from "./TheHeaderNavBarItem.vue";

const navItems = [
  { path: "/", text: "Home" },
  { path: "/about", text: "About" },
];
</script>

<template>
  <nav>
    <ul>
      <li v-for="item in navItems" :key="item.path">
        <TheHeaderNavBarItem :path="item.path" :text="item.text" />
      </li>
    </ul>
  </nav>
</template>

<style scoped>
ul {
  list-style-type: none;
  display: flex;
}
li {
  margin: 10px;
}
</style>
