<template>
  <div>
    <a href="/"
      ><img
        alt="Grossairvo logo"
        class="logo"
        src="@/assets/logo.svg"
        width="50"
        height="50"
    /></a>
    <p>Grossairvo</p>
  </div>
</template>

<style scoped>
p {
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
}
</style>
