<script setup lang="ts">
import TheHeaderNavBar from "./TheHeaderNavBar.vue";
import TheHeaderLogo from "./TheHeaderLogo.vue";
</script>

<template>
  <header>
    <TheHeaderLogo />
    <TheHeaderNavBar />
  </header>
</template>

<style scoped>
header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.75);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

header > * {
  display: flex;
  align-items: center;
}
</style>
